/*html {
  margin: 0 auto;
  padding: 10px;
}

ul {
  list-style: none;
}

form > input {
  text-align: center;
}

.container-fluid {
  display:flex;
}*/

/*html {
  margin: 0 auto;
  text-align: center;
}*/
form > input {
  text-align: center;
}

form {
  margin: 0 auto;
}
ul{
  list-style: none;
}

#Q_saved_questions_container{

}
#Q_saved_questions{

}
#Q_compose_questions_container{

}
#Q_compose_questions{

}
.Q_TextField{
  width:30em;
}
