/*html {
  margin: 0 auto;
  padding: 10px;
}

ul {
  list-style: none;
}

form > input {
  text-align: center;
}

.container-fluid {
  display:flex;
}*/

/*html {
  margin: 0 auto;
  text-align: center;
}*/
html{
  max-height: 100%;
  width: 100%;
}
form > input {
  text-align: center;
}
form{
  height: 90%;
  width: 100%;
}

ul{
  list-style: none;
}
.footer{
  height: 30px;
  padding: 5px;
  text-align: center;
  background-color: rgba(107, 150, 200, .85);
}
.centerFormDiv{
  margin: 0 auto;
  width: 24%;
}
#Q_saved_questions_container{

}
#Q_saved_questions{

}
#Q_compose_questions_container{

}
#Q_compose_questions{

}
.Q_TextField{
  width:30em;
}
