/*html {
  margin: 0 auto;
  padding: 10px;
}

ul {
  list-style: none;
}

form > input {
  text-align: center;
}

.container-fluid {
  display:flex;
}*/
html {
  margin: 0 auto;
}
form > input {
  text-align: center;
}

form {
  margin: 0 auto;
}
