<div ng-controller="userController as uctrl"> <!---Using userController--->

<div ng-if="uctrl.loggedIn"> <!---If user is logged in--->

  <button ng-click="uctrl.logoutUser()">
    Log Out
  </button>

  <div ng-if="uctrl.initialProfileUpdate">
    We see that you've created a new account! Add some details and shit!
    <form ng-submit="uctrl.editUser()">
      <input type="text" ng-model="uctrl.updatedEmail" placeholder="Email"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedPassword" placeholder="Password"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedName" placeholder="Name"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedAge" placeholder="Age"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedPhone" placeholder="Phone"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedCountry" placeholder="Country"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedCity" placeholder="City"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedZip" placeholder="Zip"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedImageLink" placeholder="Image URL"/>
        <br/>
      <input type="text" ng-model="uctrl.updatedInterests" placeholder="Interests"/>
        <br/>
      <input type="submit" value="submit"/>
    </form>
  </div>

</div>

<div ng-if="!uctrl.loggedIn"> <!---If user is not logged in--->

    <div id="login">

        <form ng-submit="uctrl.loginUser(email, password)">
           <input type="text" ng-model="uctrl.email" placeholder="email">
            <br/>
           <input type="password" ng-model="uctrl.password" placeholder="password">
            <br/>
           <input type="submit" value="login">
        </form>


    </div>
    <div id="register">

        <form ng-submit="uctrl.postUser()">
           <input ng-model="uctrl.regEmail" type="text" placeholder="email">
            <br/>
           <input ng-model="uctrl.regPassword" type="password" placeholder="password">
            <br/>
           <input type="submit" value="register">
        </form>

    </div>
  </div>

  <div ng-if="uctrl.loggedIn">

  </div>

</div> <!---Stop uctrl--->
