<div ng-controller="userController as uctrl">

<div ng-if="uctrl.loggedIn">
  <button ng-click="uctrl.logoutUser()">
    Log Out
  </button>
</div> <!--//make this do stuff -->

<div ng-if="!uctrl.loggedIn">
  <div id="login">
    <!-- <div ng-if="!mctrl.showingLogin" ng-click="mctrl.showingLogin=true; mctrl.showingRegister=false;">LOGIN</div>
    <div ng-if="mctrl.showingLogin"> -->

      <form ng-submit="uctrl.loginUser()">
         <input type="text" placeholder="email">
         <input type="password" placeholder="password">
         <input type="submit" value="login">
      </form>

    <!-- </div> -->
  </div>
  <div id="register">
    <!-- <div ng-if="!mctrl.showingRegister" ng-click="mctrl.showingRegister=true; mctrl.showingLogin=false;">REGISTER</div>
    <div ng-if="mctrl.showingRegister"> -->

      <form ng-submit="uctrl.postUser()">
         <input ng-model="uctrl.email" type="text" placeholder="email">
         <input ng-model="uctrl.password" type="password" placeholder="password">
         <input type="submit" value="register">
      </form>
      <!-- Adding angular to the form data, specifically in the case of:
      <button ng-click="mctrl.showingRegister=false; mctrl.showingLogin=false;">
      detaches the data from the form somehow.  Therefore, I have to revert my code to something more basic. -->
    <!-- </div> -->
  </div>
</div>
</div>
