<nav class="navbar navbar-static-top navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle Nav</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">choiceVIP</a>
      <!---glyphicon here--->
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- <li ng-if="uctrl.loggedIn"><a href="#">Profile</a></li> -->
        <li><a href="#">About</a></li>
        <li ng-if="!uctrl.loggedIn" ng-click="uctrl.handleLogForm()"><a href="#">Login</a></li>
        <li>
          <!---Log-in Form--->
          <div ng-if="!uctrl.showLogForm && !uctrl.loggedIn">
            <form ng-submit="uctrl.loginUser()" class="form-inline">
              <div class="form-group loggy">
                <input ng-model="uctrl.email" class="form-control" type="text" placeholder="email">
              </div>
              <div class="form-group loggy">
                <input ng-model="uctrl.password" class="form-control" type="password" placeholder="password">
              </div>
              <div class="form-group loggy_btn">
                <input type="submit" value="login">
              </div>
            </form>
          </div>
        </li>
        <li ng-if="!uctrl.loggedIn" ng-click="uctrl.handleRegForm()"><a href="#">Register</a></li>
        <li>
          <!---Registration Form--->
          <div ng-if="uctrl.showRegForm && !uctrl.loggedIn">
            <form ng-submit="uctrl.postUser()" class="form-inline">
              <div class="form-group loggy">
                <input ng-model="uctrl.regEmail" class="form-control" type="text" placeholder="email">
              </div>
              <div class="form-group loggy">
                <input ng-model="uctrl.regPassword" class="form-control" type="password" placeholder="password">
              </div>
              <div class="form-group loggy_btn">
                <input type="submit" value="register">
              </div>
            </form>
          </div>
        </li>
        <li ng-if="uctrl.loggedIn" ng-click="uctrl.logoutUser()"><a href="#">Log Out</a></li>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">About</a></li>
            <li ng-if="!uctrl.loggedIn" ng-click="uctrl.handleLogForm()"><a href="#">Login</a></li>
            <li ng-if="!uctrl.loggedIn" ng-click="uctrl.handleRegForm()"><a href="#">Register</a></li>
            <li ng-if="uctrl.loggedIn" ng-click="uctrl.logoutUser()"><a href="#">Log Out</a></li>
          </ul>
        </li>
      </ul>

    <!---Registration Form--->
    <!-- <div ng-if="uctrl.showRegForm && !uctrl.loggedIn">
      <form ng-submit="uctrl.postUser()" class="form-inline">
        <div class="form-group loggy">
          <input ng-model="uctrl.regEmail" class="form-control" type="text" placeholder="email">
        </div>
        <div class="form-group loggy">
          <input ng-model="uctrl.regPassword" class="form-control" type="password" placeholder="password">
        </div>
        <div class="form-group loggy_btn">
          <input type="submit" value="register">
        </div>
      </form>
    </div> -->

    <!---Log-in Form--->
    <!-- <div ng-if="!uctrl.showLogForm && !uctrl.loggedIn">
      <form ng-submit="uctrl.loginUser()" class="form-inline">
        <div class="form-group loggy">
          <input ng-model="uctrl.email" class="form-control" type="text" placeholder="email">
        </div>
        <div class="form-group loggy">
          <input ng-model="uctrl.password" class="form-control" type="password" placeholder="password">
        </div>
        <div class="form-group loggy_btn">
          <input type="submit" value="login">
        </div>
      </form>
    </div> -->

  </div>
</nav>
