<br><br>

<div ng-controller="mainController as mctrl"><!---Using userController--->
  <div id="Q_saved_questions_container">
      <div id="Q_saved_questions">
      <!-- //loop display divs for questions
      //each question gets a button to display/hide answers
      //the correct answer should have special CSS highlighting it -->
    </div>
  </div>
  <div id="Q_compose_questions_container">
    <div>Compose new question to validate entry:</div>
    <div id="Q_compose_questions">
      <form class="" ng-submit="mctrl.questionSet()" > <!--//ng-submit=""-->
        <input class="Q_TextField" ng-model="thisQuestion" type="text" placeholder="Question?"><br> <!--ng-model=""-->
        <input class="Q_TextField" ng-model="thisCorrectAnswer" type="text" placeholder="Correct Answer"><br>
        <input class="Q_TextField" ng-model="thisFalseAnswer" type="text" placeholder="Incorrect Answer"><br>
        <button type="button" name="button">+ new incorrect Answer</button>
        <input type="submit" value="submit"/>
      </form>
    </div>
  </div>

<br><br>
